<h2>Our amazing selection of Pokemons</h2>


<ul>
  <% @pokemons.each do |pokemon| %>
    <li>
      <%= link_to pokemon.name, pokemon_path(pokemon) %> | 
      <% if policy(pokemon).edit? && policy(pokemon).destroy? %>
        <%= link_to "Edit", edit_pokemon_path(pokemon) %> | <%= link_to "Delete", pokemon_path(pokemon), method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Add a new pokemon", new_pokemon_path %></p>




